Package Tests/PackageUsage/SharedTests/CustomSettings/comedy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cm="http://example.org/comedy"
           targetNamespace="http://example.org/comedy"
           elementFormDefault="qualified">

	<xs:element name="comedyArchive">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compiledBy" type="xs:string"/>
							<xs:element name="compiledOn" type="xs:dateTime"/>
							<xs:element name="theme" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="performers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="comedian" type="cm:ComedianType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="events">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="event" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" type="xs:string"/>
										<xs:element name="location">
											<xs:complexType>
												<xs:attribute name="city" type="xs:string" use="required"/>
												<xs:attribute name="country" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="date" type="xs:date"/>
										<xs:element name="acts">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="act" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="ref" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="genres">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="genre" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="origin" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="config">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="setting" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ComedianType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="style" type="xs:string"/>
			<xs:element name="languages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="language" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="quote" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="nationality" type="xs:string" use="required"/>
	</xs:complexType>

</xs:schema>